@using EcommerceWeb.Models.Layout;
@{
    List<NavItemViewModel> navItems = new List<NavItemViewModel>()
    {
        new NavItemViewModel{keywordInUrl = "new" , content = "New"},
        new NavItemViewModel{keywordInUrl = "sale" , content = "Sale"},
        new NavItemViewModel{keywordInUrl = "gifts" , content = "Gifts"},
        new NavItemViewModel{keywordInUrl = "rain" , content = "Rain"},
        new NavItemViewModel{keywordInUrl = "snow" , content = "Snow"},
        new NavItemViewModel{keywordInUrl = "all-weather" , content = "All Weather"},
        new NavItemViewModel{keywordInUrl = "shop-all" , content = "Shop All"},
        new NavItemViewModel{keywordInUrl = "values" , content = "Values"},
    };

    List<NavItemViewModel> helpItems = new List<NavItemViewModel>()
    {
        new NavItemViewModel{keywordInUrl = "new" , content = "Size guide"},
        new NavItemViewModel{keywordInUrl = "sale" , content = "Shipping Policy"},
        new NavItemViewModel{keywordInUrl = "gifts" , content = "Refund Policy"},
        new NavItemViewModel{keywordInUrl = "rain" , content = "Wear and Care FAQ"},
    };

    List<NavItemViewModel> aboutUsItems = new List<NavItemViewModel>()
    {
        new NavItemViewModel{keywordInUrl = "" , content = "Values"},
        new NavItemViewModel{keywordInUrl = "sale" , content = "Contact Us"},
    };

    List<NavItemViewModel> policyItems = new List<NavItemViewModel>()
    {
        new NavItemViewModel{keywordInUrl = "refund-policy" , content = "Refund policy"},
        new NavItemViewModel{keywordInUrl = "privacy-policy" , content = "Privacy policy"},
        new NavItemViewModel{keywordInUrl = "terms-of-service" , content = "Terms of service"},
        new NavItemViewModel{keywordInUrl = "shipping-policy" , content = "Shipping policy"},
        new NavItemViewModel{keywordInUrl = "contact-information" , content = "Contact information"},
    };

    List<PaymentItemViewModel> paymentItems = new List<PaymentItemViewModel>()
    {
        new PaymentItemViewModel{imgUrl = "~/assets/payments/logo_pay_pal.png" , content = "PayPal"},
        new PaymentItemViewModel{imgUrl = "~/assets/payments/logo_momo.png" , content = "Momo"},
        new PaymentItemViewModel{imgUrl = "~/assets/payments/logo_visa.png" , content = "Visa"},
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>
    <div class="position-fixed start-0 end-0">
        <div id="nav-top-info" class="bg-dark">
            <div class="container text-light text-center">
                25% off sitewide. Free shipping globally including customs + duties.
            </div>
        </div>

        <header class="position-absolute start-0 end-0">
            <nav id="custom-nav"
                 class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow d-flex py-3 justify-content-between px-3 ">

                 <div class="container">
                    <img id="app-logo" style="width:200px" src="~/assets/app_logo.png" />

                    <div class="d-none d-lg-block" style="width:50px"></div>

                    <!--List nav item-->
                    <div class="navbar-collapse collapse  d-lg-inline-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            -->                          
                            @for (var i = 0; i < navItems.Count(); i++)
                            {
                                @if (i == 1)
                                {

                                    <a class="custom-nav-item  nav-link"
                               style="color:red;font-weight:500"
                               href="/?title=@navItems[i].keywordInUrl">@navItems[i].content</a>
                                }
                                else
                                {

                                    <a class="custom-nav-item  nav-link text-dark" href="/?title=@navItems[i].keywordInUrl">@navItems[i].content</a>
                                }

                            }
                        </ul>
                    </div>

                     <!--List icon-->
                    <div class="d-flex">
                            <li class="nav-item d-flex align-items-center">
                                <i class="bi bi-search px-2 custom-nav-icon py-2"></i>
                            </li>

                             <div class="d-none d-lg-block">
                                <li class="nav-item d-flex align-items-center ">
                                    <i class="bi bi-person px-2 custom-nav-icon py-2"></i>
                                </li>
                            </div>
                           


                            <li class="nav-item d-flex align-items-center position-relative">
                                <i class="bi bi-handbag custom-nav-icon  px-2 py-2">
                                </i>


                            <div class="position-absolute d-flex justify-content-center align-item-center event-hover"
                                     style="width:16px;height:16px;background-color:black; bottom:12px;right:0px;border-radius:32px">
                                    <div style="color:white; font-size:10px">
                                        1
                                    </div>
                                </div>
                            </li>


                            <input type="checkbox" id="my-toggler" style="display:none"/>
                        <!--Button appear when screen < lg-->
                        <label id="menu-btn" for="my-toggler" class="navbar-toggler px-3 d-flex justify-content-center align-item-center d-lg-none mx-2 event-hover">
                            <!--
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>-->

                           
                            <label class="d-flex justify-content-center align-items-center event-hover" for="my-toggler">
                                    <span class="navbar-toggler-icon">
                                      
                                    </span>
                             </label>
                    
                           
                         </label>

                  
                    </div>

                 </div>            
            </nav>

         
            <!-- opacity backgroud -->
            <div id="sidebar-bg" class="position-relative top-0 start-0 w-100 vh-100" style="background-color: rgba(0,0,0,0.4);display: none">
                <!--Begin side bar-->
                <div id="sidebar" class=" position-relative top-0 d-lg-none col-10 col-md-5  overflow-auto"
                     style="background-color:white; left: 0px;">

                    <div class="" style="">
                        <ul class="navbar-nav  py-5">
                            <!--
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            -->
                            @for (var i = 0; i < navItems.Count(); i++)
                            {
                                @if (i == 1)
                                {
                                  
                                    <a class="sidebar-item px-5 py-3 nav-link fs-4"
                               style="color:red;font-weight:500"
                               href="/?title=@navItems[i].keywordInUrl">@navItems[i].content</a>
                                }
                                else
                                {

                                    <a class="sidebar-item px-5 py-3 nav-link text-dark fs-4" href="/?title=@navItems[i].keywordInUrl">@navItems[i].content</a>
                                }
                                
                            }
                        </ul>

                        <div class="sidebar-footer d-flex flex-column justify-content-center px-3 py-3" style="width:100%; height:160px">
                            <div class="h-50">
                                <div class="event-hover custom-sidebar-footer-icon py-2">
                                    <i class="bi bi-person  ps-3  me-1 "></i>
                                    <div class="h-auto d-inline-block" style="font-weight: 500;font-size: 16px">Log in</div>
                                </div>
                                
                            </div>
                            <div class="d-flex h-50">
                                <i class="bi bi-facebook px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-pinterest px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-instagram px-3  py-2 custom-sidebar-footer-icon"></i>
                                <i class="bi bi-tiktok px-3  py-2 custom-sidebar-footer-icon"></i>
                            </div>
                        </div>
                     </div>
                   
                </div>
            </div>
        </header>
    </div>

    
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="custom-footer py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-4">
                <div class="col py-2">
                    <div class="footer-title">THESUS</div>
                    <div class="footer-title">Socially and environmentally progressive outdoor footwear</div>
                    <div class="py-2 d-flex">
                        <i class="bi bi-facebook  footer-icon pe-3"></i>
                        <i class="bi bi-pinterest  footer-icon pe-3"></i>
                        <i class="bi bi-instagram  footer-icon pe-3"></i>
                        <i class="bi bi-tiktok footer-icon pe-3"></i>
                    </div>
                </div>
                <div class="col py-2">
                    <div class="footer-title">Our Shop</div>
                    @for (var i = 0; i < navItems.Count(); i++)
                    {
                        <div class="footer-nav-item py-1">@navItems[i].content</div>
                    }
                </div>
                <div class="col py-2">
                    <div class="footer-title" >Help</div>
                        @for (var i = 0; i < helpItems.Count(); i++)
                        {
                        <div class="footer-nav-item py-1">@helpItems[i].content</div>
                        }
                 </div>
                <div class="col py-2">
                    <div class="footer-title">About us</div>
                    @for (var i = 0 ;i < aboutUsItems.Count(); i++)
                    {
                        <div class="footer-nav-item py-1">@aboutUsItems[i].content</div>
                    }         
                </div>
            </div>
            
            <div class="d-flex justify-content-center py-2">

                @for (var i = 0; i < paymentItems.Count(); i++)
                {
                    <div class="payment-item d-flex justify-content-center align-items-center mx-2">

                        <img src="@Url.Content(@paymentItems[i].imgUrl)"  style="height: 10px" />

                        <span class="my-tooltiptext">@paymentItems[i].content</span>
                    </div>
                }
            </div>
            <div class="d-flex flex-wrap justify-content-center py-2" style="display:block">
                <div class="py-1" style="opacity:0.5 ">
                    2024
                </div>
                @for (var i = 0; i < policyItems.Count(); i++)
                {
                    <div class="d-flex justify-content-center align-items-center py-1">
                        <div class="mx-2" style="width: 5px;height: 5px;border-radius:60px;background-color: white;opacity:0.5"></div>
                        <div  class="footer-nav-item" style="font-size: 14px">@policyItems[i].content</div>
                    </div>
                    
                }
            </div>
            <!--&copy; 2023 - KenShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        const navItemNames = [
            "new",
            "sale",
            "gift",
            "rain",
            "snow",
            "all-weather",
            "shop-all", 
            "values", 
        ];

        function getIndex(str){
            for (let i = 0 ; i < navItemNames.length ;i++){
                if (str.includes(navItemNames[i])) {
                    return i;
                }
            }
            return 0;
        }

        var $win = $(window);

        // scroll event
        $win.scroll(function () {          
            var win = $(this);
        
            if ($win.scrollTop() == 0) {
                // scroll at top
                $("#nav-top-info").removeClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").addClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                     $("#app-logo").removeClass('logoZoomIn');
                     $("#app-logo").removeClass('logoZoomOut');     
                }
            
                $("#custom-nav").addClass('py-3');
            }
            else {
                $('#nav-top-info').addClass('d-none');

                if (win.width() > 450) {
                    // add animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").addClass('logoZoomOut');
                }
                else {
                    // remove animation for logo
                    $("#app-logo").removeClass('logoZoomIn');
                    $("#app-logo").removeClass('logoZoomOut');
                }
                         
                setTimeout(function () {
                    $("#custom-nav").removeClass('py-3');
                }, 0.5);
            }

            resizeSideBar();
        });
        
        function openSideBar(){
            if ($('#sidebar').css('left') == '-1000px' || $('#sidebar-bg').css('display') == 'none') {
                $('#sidebar').css('animation', 'sidebar-open 0.5s ease');
                $('#sidebar').css('animation-fill-mode', 'forwards');
                $('#sidebar-bg').css('display', 'block');
                // remove scroll
                $('body').css('overflow-y', 'hidden');
            }
        }

        function hideSideBar() {
            if ($('#sidebar').css('left') == '0px' || $('#sidebar-bg').css('display') == 'block') {
                $('#sidebar').css('animation', 'sidebar-close 0.5s ease');
                $('#sidebar').css('animation-fill-mode', 'forwards');
                $('#sidebar-bg').css('display', 'none');
                // restore scroll
                $('body').css('overflow-y', 'auto');
            }
        }

        // resize screen event
        $(window).on('resize', function () {
            var win = $(this);
            // resize logo
            if (win.width() <= 450) {             
                $("#app-logo").width(((win.width() * 200) / 450) * 0.5);
            }
            else {
                $("#app-logo").width(200);
            }
            hideSideBar();
        });

        // event open or close sidebar
        $('#my-toggler').click(function () {
            $('body').css('overflow-y', 'auto');
            let val = $('#my-toggler').prop('checked');
            if (val == true) openSideBar();       
            else hideSideBar();  
        });

        $('#sidebar').click(function (event) {
            event.stopPropagation();
        });

        // event click on background when sidebar is opening
        $('#sidebar-bg').click(function () {
            hideSideBar();
        });

        function markSideBarItemChosen() {
            let win = $(this);
            let loc = win[0].location.href;
            let pos = getIndex(loc);                    
            $('#sidebar .sidebar-item').eq(pos).css('background-color', 'rgba(0,0,0,0.1)');
        }

        function markNavBarItemChosen() {
            let win = $(this);
            let loc = win[0].location.href;
            let pos = getIndex(loc);       
            
            $('.custom-nav-item').eq(pos).css('color', 'black');
            $('.custom-nav-item').eq(pos).css('opacity', '1');
            $('.custom-nav-item').eq(pos).css('text-decoration', 'underline');  

            if (pos != 1) {
                $('.custom-nav-item').eq(1).css('color', 'red');
                $('.custom-nav-item').eq(1).css('opacity', '1');
            }
        }

        // event hover sidebar item
        $("#sidebar .sidebar-item").hover(function () {
            $(this).css("background-color", "rgba(0,0,0,0.1)");
        }, function () {
            $(this).css("background-color", "white");
            markSideBarItemChosen();
        });

        // event hover navbar item
        $(".custom-nav-item").hover(function () {
            $(this).css("color", "black");
            $(this).css("opacity", "1");
            $(this).css("text-decoration", "underline");
            $(this).css("cursor", "pointer");
        }, function () {
            $(this).css("opacity", "0.5");
            $(this).css("text-decoration", "none");
            markNavBarItemChosen();
        });

        window.addEventListener('load', function() {
            // reset sidebar-iten background
            $('#sidebar .sidebar-item').css('background-color', 'white');
            markSideBarItemChosen();

            // reset navbar-iten style
            $('.custom-nav-item').css('text-decoration', 'none');
            $('.custom-nav-item').css('opacity', '0.5');

            // Special style for sale
            $('.custom-nav-item').eq(1).css('opacity', '1');
            $('.custom-nav-item').eq(1).css('font-weight', '500');

            markNavBarItemChosen();
            resizeSideBar();
        });

        function resizeSideBar(){
            let navHeight = $("#custom-nav").css("height");
            let navInfoHeight = $("#nav-top-info").css("height");
            let winHeight = $(window).height();
            let value = 0;
            if ($("#nav-top-info").css('display') == "block") {
                $("#sidebar").css("height", `calc( 100% - ${navHeight} - ${navInfoHeight} )`);
            }
            else {
                $("#sidebar").css("height", `calc( 100% - ${navHeight} )`);
            }
        }
    </script>
</body>
</html>
